* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/Sweet.jpg) no-repeat center center/cover;
  height: 100%;
  width: 100%;
}
/* utility classes */
.logo {
  font-family: "Kaushan Script", sans-serif;
}

.container {
  margin: 30px auto;
  max-width: 800px;
}

/* Header */
.header {
  text-align: center;
  color: white;
  padding-top: 1rem;
}

.header #title {
  font-size: 4rem;
}

.header #description {
  padding-top: 0.5rem;
}

/* Showcase content */
.form-wrap {
  background: rgba(0, 0, 0, 0.3);
  color: #ddd;
  border-radius: 5px;
}

#form-styling {
  padding: 2rem 2rem;
  font-size: 1.5rem;
}

.form-group {
  margin-top: 10px;
}

/* .background-blur {
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
} */

.form-group #name,
.form-group #email,
.form-group #number,
.form-group #message,
.form-group #submit,
.form-group #dropdown {
  width: 100%;
  padding: 0.5rem 0;
  border-radius: 5px;
  border: solid #ddd 1px;
}

.spacing {
  line-height: 1.5;
}

.form-group #submit {
  background: greenyellow;
  color: #333;
}

.form-group #submit:hover {
  background: #4caf50;
}

.form-group {
  line-height: 1.5;
}
